@font-face {
  font-family: 'ProximaNova-BoldIt';
  src: url('ProximaNova-BoldIt.eot');
  src: url('ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
       url('ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg'),
       url('ProximaNova-BoldIt.ttf') format('truetype'),
       url('ProximaNova-BoldIt.woff') format('woff'),
       url('ProximaNova-BoldIt.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

