* {
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    font-weight: lighter;
}
body {
    font-family: 'Open Sans', sans-serif;
}
#nl {
    width: 1300px;
    height: 2900px;
}
#header {
    height: 374px;
    text-align: left;
    background-image: url(https://github.com/geanyo/PERSONALE/blob/master/NL%20DERMATITA/NL1/gref.jpg);
}
#header p {
    text-align: center;
    font-size: 0.7em;
    margin-top: 1em;
}
span {
    color: rgb(231, 8, 45);
}


/* body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
} */




