* {
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    font-weight: lighter;
    /* color: rgba(0, 0, 0, 0.8); */
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 1300px;
    height: 2900px;
    color: rgba(0, 0, 0, 0.8);
}
#continut {
    width: 1300px;
    height: 2900px;
    background-color: rgba(0, 0, 0, 0.1);
} 
#header {
    background-image: url("gref.jpg");
    background-position: center;
    background-size: cover;
    height: 374px;
    text-align: left;
}
#header p {
    text-align: center;
    font-size: 0.7em;
    padding: 10px;
}
#header h3 {
    text-align: left;
    font-size: 1.5em;
    margin-left: 80px;
    margin-top: 10px;
}
#header h1 {
    text-align: left;
    font-size: 2.8em;
    margin-left: 80px;
    margin-top: 10px;
}
span {
    color: rgb(231, 8, 45);
}
p.banda1 {
    background-color: rgba(0, 0, 0, 0.6);
    width: 1300px;
    height: 104px;
    font-weight: normal;
    text-align: left;
    font-size: 1.3em;
    padding-left: 40px;
    padding-top: 20px;
    border-left-color: rgb(231, 8, 45);
    border-left-style: solid;
    border-left-width: 40px;
    color: white;
}
sup {
    color: white;
}
#titlu1 {
    font-weight: 700;
    text-align: left;
    font-size: 1.3em;  
    padding-left: 40px;
    padding-top: 20px;  
}
#titlu1 sup {
    color: rgb(231, 8, 45);
    font-weight: 400;
}


/* body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
} */




